.color-button {
    font-weight: bold;
    color: white;
}

.color-button:hover {
    text-decoration: none;
}

.color-grid {
    padding: 5px;
}

.color-grid .col {
    padding: 0;
    height: 50px;
    width: 30px;
}

.color-grid .row {
    padding: 0;
}

.color-grid .color-block {
    padding: 0;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
